.page-header {
    @include flexy(flex-start, center, column);
    padding-top: 20px;
    height: 100vh;
    background-color: $black;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__top {
        align-self: stretch;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: $grey , $alpha: 0.5);

        &__wrapper {
            @include container;
            @include flexy(space-between, center);
        }
    }

    &__center {
        @include container;
        @include flexy(center, center, column);
        width: 50%;
        flex-grow: 2;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__description {
        @include font(bold, 18px, 36px);
        text-align: center;
        color: $white;
    }
}

.nav__list {
    @include flexy(space-between);
    padding: 0;
    list-style: none;

    &__item {
        display: block;
    }
}

.list-item__link {
    @include font(bold, 14px);
    color: $whiteGrey;
    text-transform: uppercase;
    margin-right: 40px;
    padding-bottom: 15px;

    &:hover {
        color: $attention;
        border-bottom: 1px solid $attention;
    }
}